<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="col-12 ">
        <h1 class="text-info text-center">Musée Picasso</h1>
      </div>
      <div class="col d-lg-flex">
        <div class="col-lg-6">
          Google Maps
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/06/6e/b7/74.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Musée Picasso</h5>
              <div class="card-text">
                <ul>
                  <li>Adresse: Place Mariejol</li>
                  <li>Code postal: 06600</li>
                  <li>Ville: ANTIBES</li>
                  <li>Téléphone: 0492905421</li>
                  <li>Fax: 0492905450</li>
                  <li>Site web:<a href="www.antibes-juanlespins.com">www.antibes-juanlespins.com</a> </li>
                  <li>  Ouvert du 16 septembre au 14 juin de 10h \u00e0 12h et de 14h à 18h, du  15 juin au 15 septembre de 10h à 18h. Nocturnes en juillet et août le mercredi et le vendredi jusqu'au 2019 20h.</li>
                </ul>

              <div class="card-text"><p><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <a href="http://localhost:4200/">Retour</a>

    </div>

  </div>

</div>
