<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-3 text-info font-weight-bold text-center ">OPEN MUSEUM</h1>
    </div>
  </div>
  <div class="row">
    <app-single-museum
      class="col-4"
      *ngFor="let museum of museums"
      [museumName]="museum.nom_du_musee"
      [museumAdress]="museum.adr"
      [museumCP]="museum.cp"
      [museumCity]="museum.ville"
      [museumTel]="museum.fax"
      [museumSite]="museum.sitweb"
      [museumHours]="museum.periode_ouverture"
    ></app-single-museum>

  </div>
</div>
